<!-- <div *ngIf="translator">
  <div class="media col-12 mt-3">
    <img src="assets/images/translators/{{translator.image}}" class="mr-4 shadow img-fluid" id="profile-image" />
    <div class="media-body">
      <h1 class="mt-0" id="profile-name">{{translator.name}}</h1>
      <p>{{translator.description}}</p>
      <div id="language-section">
        <img src="{{translator.image_from}}" id="image-from" />
        <img src="assets/images/arrow-right.png" id="arrow-right" />
        <img src="{{translator.image_to}}" id="image-to" />
      </div>
    </div>
  </div>
  <button class="btn btn-dark btn-block send-request mt-3" style="box-shadow: 2px 2px 2px white" 
  (click)="emailModal(template, translator)"
  *ngIf="authService.loggedIn()">
    Send Request
  </button>
</div> -->

<div class="row mt-3 small-profile" >
  <img src="assets/images/translators/{{translator.image}}" class="col-12" />
  <h1 class="col-12 display-2" id="profile-name">{{translator.name}}</h1>
  <div class="language-section mb-1">
    <img src="{{translator.image_from}}" id="image-from" />
    <img src="assets/images/arrow-right.png" id="arrow-right" />
    <img src="{{translator.image_to}}" id="image-to" />
  </div>
  <p class="col-12 lead" id="profile-description">{{translator.description}}</p>
  <p class="col-12 lead" id="profile-price">{{translator.price}}&#8362;</p> 
  <button class="btn btn-outline-dark btn-block" id="request-button">Send Request</button>
</div>

<div class="row mt-3 big-profile">
  <div class="media">
    <img src="assets/images/translators/{{translator.image}}" class="col-md-5 mr-3 profile-image mt-3" alt="...">
    <div class="media-body col-md-7">
      <h5 class="mt-0 display-2">{{translator.name}}</h5>
      <div class="language-section mb-1">
        <img src="{{translator.image_from}}" id="image-from" />
        <img src="assets/images/arrow-right.png" id="arrow-right" />
        <img src="{{translator.image_to}}" id="image-to" />
      </div>
      <p class="lead">{{translator.description}}</p>
      <p class="display-2">{{translator.price}}&#8362;</p>
    </div>
  </div>
</div>