<footer  class="navbar navbar-expand-md navbar-dark bg-dark text-light d-flex-inline justify-content-center">
 <div class="row">
    <div class="col-12 col-md-4">
      <h3>Translate World</h3>
      <hr class="my-4 light" />
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt distinctio dolores quod?s</p>
      <div class="social-media mb-2">
        <a href="#" tooltip="Facebook"><img src="assets/images/social-media/facebook.png" class="img-fluid" /></a>
        <a href="#" tooltip="Twitter"><img src="assets/images/social-media/twitter.png" class="img-fluid"  /></a>
        <a href="#" tooltip="LinkedIn"><img src="assets/images/social-media/linkedin.png" class="img-fluid" /></a>
        <a href="#" tooltip="Instagram" href="https://www.instagram.com/translateworld_original/" target="_blank"><img src="assets/images/social-media/instagram.png" class="img-fluid" /></a>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <h3>Our Staff</h3>
      <hr class="my-4 light" />
      <h4>Genia Zhdanov</h4>
      <p>Manager/Promoter</p>
      <h4>Vlad Semyonov</h4>
      <p>Developer/Designer</p>
    </div>
    <div class="col-12 col-md-4">
      <h3>Subscribe</h3>
      <hr class="my-4 light" />
      <h6>Your Email?</h6>
      <input type="email" class="form-control" />
    </div>
  </div>
</footer>








<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark text-light">
    <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-flex-start align-content-stretch text-center title">
      <h4 class="display-2">Translate World</h4>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nostrum!</p>
      <div class="social-media">
        <a class="ml-1" href="#" tooltip="Facebook"><img src="assets/images/social-media/facebook.png" class="img-fluid" /></a>
        <a class="ml-1" href="#" tooltip="Twitter"><img src="assets/images/social-media/twitter.png" class="img-fluid"  /></a>
        <a class="ml-1" href="#" tooltip="LinkedIn"><img src="assets/images/social-media/linkedin.png" class="img-fluid" /></a>
        <a class="ml-1" href="#" tooltip="Instagram" href="https://www.instagram.com/translateworld_original/" target="_blank"><img src="assets/images/social-media/instagram.png" class="img-fluid" /></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-flex-start align-content-stretch text-center staff">
          <h4 class="display-2">Staff</h4>
          <p class="lead">Genia Zhdanov - Manager/Promoter</p>
          <p class="lead">Vlad Semyonov -  Developer/Designer</p>
        </div>

        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center align-content-stretch text-center staff">
          <h4 class="display-2">Subscribe</h4>

          <form (ngSubmit)="onSubscriptFormSubmit(subscriptForm)" #subscriptForm="ngForm">
            <div id="alert-box" *ngIf="alert">
              <alert type="light" [dismissible]="dismissible" [dismissOnTimeout]="2000" id="alert" (onClosed)="onAlertClosed(alert)" class="shadow">{{alert ? alert : 'Thank you for subsckibing' }}</alert>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="E-mail Here..." [(ngModel)]="subscription.email" name="email" (input)="onEmailInput()" />
            </div>
            <button class="btn btn-info btn-block" type="submit" style="box-shadow: 2px 1px 4px white;">Subscribe</button>
          </form>
        </div>
    </div>
</nav> -->




<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow mt-5">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <b class="ml-2 text-light" style="text-decoration: underline;">Support</b>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1">Returns</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto mb-0 mt-lg-0">
      <li class="nav-item active">
        <b class="ml-2 text-light" style="text-decoration: underline">About Translate World</b>
      </li>
      <li class="nav-item" style="width: 200px">
        <p class="text-light ml-2">Translate World is a site dedicated to finding the best blablabla</p>
      </li>
      <li>
        <a class="ml-2" href="#" tooltip="Facebook"><img src="assets/images/social-media/facebook.png" style="height: 35px" /></a>
        <a class="ml-2" href="#" tooltip="Twitter"><img src="assets/images/social-media/twitter.png" style="height: 35px" /></a>
        <a class="ml-2" href="#" tooltip="LinkedIn"><img src="assets/images/social-media/linkedin.png" style="height: 35px" /></a>
        <a class="ml-2" href="#" tooltip="Instagram" href="https://www.instagram.com/translateworld_original/" target="_blank"><img src="assets/images/social-media/instagram.png" style="height: 35px" /></a>
        
      </li>
    </ul>
    <ul class="navbar-nav mr-auto mb-3 mt-lg-0 flex-column email-form">
       <li class="nav-item active">
          <b class="ml-2 text-light" style="text-decoration: underline">Recieve E-mails?</b>
        </li>
      <li class="nav-item mt-2 ml-2">
        <form (ngSubmit)="onSubscriptFormSubmit(subscriptForm)" #subscriptForm="ngForm">
          <div id="alert-box" *ngIf="alert">
            <alert type="light" [dismissible]="dismissible" [dismissOnTimeout]="2000" id="alert" (onClosed)="onAlertClosed(alert)" class="shadow">{{alert ? alert : 'Thank you for subsckibing' }}</alert>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail Here..." [(ngModel)]="subscription.email" name="email" (input)="onEmailInput()" />
          </div>
          <button class="btn btn-info btn-block" type="submit" style="box-shadow: 2px 1px 4px white;">Subscribe</button>
        </form>
      </li>
    </ul>
</nav> -->