.navbar {
    /* min-height: 250px; */
    padding: 2rem;
    width: 100%;
    top: 180px;
}

#alert-box {
    position: absolute;
    right: 70px;
    top: 30px;
}

.social {
    margin: 0 auto;
}

.email-form {
    display: none;
}