 <div id="body"> 
  <h1 class="display-3">This account is already validated!</h1>
  <p class="lead content-text">If you did not recieve your confirmation link or if the link had expired, please enter your e-mail and we'll resend the link. Make sure to activate the account within 24 hours!</p>
  <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
    <label>Email:</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control col-md-6" placeholder="enter@email.here" formControlName="email">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Send</button>
      </div>
    </div>
  </form>
  <p class="lead content-text" style="font-size: 15px">Note that you will recieve the link only if your account hasn't been activated. If your account is already activated or if you aren't signed up, you will only recieve an email confirming your account status (without the activation link).</p>
</div>

  