<div class="row">
  <div class="col-md-6">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <div class="form-row">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Username" formControlName="username" />
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
              <div *ngIf="username.errors.required">
                Userame is required.
              </div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters long.
              </div>
              <div *ngIf="!username.errors.pattern && username.length">
                Special characters are excluded (/, +, -)
              </div>
              <!-- <div *ngIf="username.errors.pattern">
                Excluded characters not allowed
              </div> -->
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
            <input type="email" class="form-control" placeholder="E-mail" formControlName="email" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
              <div *ngIf="email.errors.required">
                E-mail is required.
              </div>
              <div *ngIf="email.errors.email">
                E-mail must be valid.
              </div>
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-12 password">
          <input type="password" class="form-control" placeholder="Password" formControlName="password" />
          <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
            <div *ngIf="pass.errors.required">
              Password is required.
            </div>
            <div *ngIf="pass.errors.minlength">
              Password must be at least 6 chars.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-12">
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="password_confirm" />
          <div *ngIf="cpass.dirty || cpass.touched" class="text-danger">
            <div *ngIf="registerForm.errors?.noMatch">
              Confirm Password
            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-check-inline mr-5">
        <input class="form-check-input" id="disclaimer-check" type="checkbox" (change)="onDisclaimerCheck($event)" value=""  />
        <label class="form-check-label" for="disclaimer-check">
            Read Disclaimer
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="email-check" type="checkbox" value="" formControlName="recieve_emails" />
        <label class="form-check-label" for="email-check">
            Recieve E-mails
        </label>
      </div>
      <button class="btn btn-outline-light d-block" [disabled]="disclaimerChecked ? false : true">Submit</button>
    </form>
  </div>
  <div class="col-md-4 offset-md-2" id="disclaimer">
    <h1 class="title">Disclaimer</h1>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id mauris augue.
       Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
       Maecenas viverra quam sodales purus egestas faucibus. Sed facilisis ipsum in maximus tincidunt. 
       Nam vel ornare nisl. Duis ut fringilla leo, luctus vulputate arcu.
    </p>
  </div>
</div>
