input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    border-bottom: 3px double white !important;

}

input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid white !important;
}


.form-row, .form-check {
    margin-top: 60px;
}

.form-check-label {
    color: white;
    border-bottom: 3px double white;
}

::placeholder {
    color: white;
}

button {
    margin-top: 60px;
}

#text-segment {
    background-color: white;
    
}

#disclaimer {
    text-shadow: 2px 1px 1px black;
    margin-top: 40px;
    color: white;
    border-left: 2px solid white;
}

.password {
    margin-bottom: 5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .password {
        margin-bottom: 0rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}