<form>
  <div class="form-row">
    <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Username" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <input type="email" class="form-control" placeholder="E-mail" /> 
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <input type="password" class="form-control" placeholder="Password" />
    </div>
    <div class="form-group col-md-3">
      <input type="password" class="form-control" placeholder="Confirm Password" />
    </div>
  </div>
  <button class="btn btn-outline-light">Submit</button>
</form>