<form class="form-inline">
  <div class="form-group">
    <input [(ngModel)]="selected" autocomplete="off" [typeahead]="translators" 
    typeaheadOptionField="value" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="19"  [isAnimated]="true"
    class="form-control mr-2" type="search" placeholder="Search" name="translator" aria-label="Search" (typeaheadOnSelect)="onSearchSelect($event)" />
  </div>
</form>


<!-- <ng-template #customItemTemplate let-model="item" let-index="index">
    <p>{{model.name }} ( {{model.from_code ? (model.from_code | uppercase) : '?' }} - {{model.to_code | uppercase}})</p>
      <ul class="custom-list-group">
        <li  class="custom-list-group-item" *ngFor="let match of matches">
          {{customListTemplate}}
        </li>
      </ul> -->
  <!-- </ng-template> -->