<!-- <div class="row p-0 m-0" id="flag-section">
  <div *ngFor="let language of languages; let i = index" tooltip="{{language.name}}"> -->
    <!-- <div *ngIf="i === 0; else elseBlock"> -->
      <!-- <div class="language col-12 col-md-4 d-flex justify-content-center align-items-center mb-2">
        <img src={{language.image}} class="img-fluid" />
      </div> -->
    <!-- </div> -->
    <!-- <ng-template #elseBlock>
      <div class="language col-12 col-md-4 d-flex justify-content-center align-items-center mb-2">
        <img src={{language.image}} class="img-fluid" />
      </div>
    </ng-template> -->
  <!-- </div>
</div> -->

<div class="row mb-5">
  <div *ngFor="let language of languages; let i = index" 
  class="col-12 col-sm-6 col-md-4 flags" 
  id="flag-{{i}}" 
  tooltip="{{language.name}}"
  [routerLink]="['translators']" [queryParams]="{lang: language.id}">
    <img src={{language.image}} class="img-fluid" />
  </div>
</div>