#flag-section {
    width: 100%;
}

/* #flag-section img {
    width: 26rem;
} */


.language {
    position: relative;
    cursor: pointer;
}

.language:hover img {
    box-shadow: 5px 5px 10px royalblue;
}

/* .abrv {
    position: absolute;
    top: 120px;
    left: 130px;
    font-weight: bold;
    font-size: 80px;
    color:  #e9e4e2;
    text-shadow: 3px 0px 3px gray;
    
} */

img {
    /* height: 280px; */
    box-shadow: 5px 0px 10px white;
    /* border-radius: 5px; */
}
 
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   #flag-2 {
       margin: 0 auto;
       margin-top: 1.5rem;
   }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #flag-2 {
        margin-top: 0;
    }
    
    .language {
        position: relative;
        cursor: pointer;
    }
    
    .language:hover img {
        box-shadow: 5px 5px 10px royalblue;
    }
    
    /* .abrv {
        position: absolute;
        top: 120px;
        left: 130px;
        font-weight: bold;
        font-size: 80px;
        color:  #e9e4e2;
        text-shadow: 3px 0px 3px gray;
        
    } */
    
    img {
        /* height: 280px;
        width: 335px;
        box-shadow: 5px 0px 10px white; */
        /* border-radius: 5px; */
    }
     
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }