<div id="body">
  <carousel>
    <slide class="animated fadeIn">
      <div class="media">
          <img src="assets/images/translator_pic2.jpg" class="mr-3" style="height: 400px; width: 400px;">
          <div class="media-body">
            <h5 class="mt-0 display-2">Boris</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
      <!-- <img src="assets/images/translator_pic.jpg" alt="first slide" style="display: block; width: 100%;"> -->
    </slide>
    <slide class="animated fadeIn">
        <div class="media">
          <img src="assets/images/translator_pic.jpg" class="mr-3" style="height: 400px; width: 400px;">
          <div class="media-body">
            <h5 class="mt-0 display-2">Juan</h5>
            <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
          </div>
        </div>
      <!-- <img src="assets/images/translator_pic2.jpg" alt="second slide" style="display: block; width: 100%;"> -->
    </slide>
  </carousel>
</div>