<div id="body">
  <carousel [interval]="carouselInterval" [noPause]="true">
    <slide class="animated fadeIn" *ngFor="let translator of translators">
      <div class="media">
          <img src="{{imagePath}}/{{translator.image}}" class="mr-3" style="height: 400px; width: 400px;">
          <div class="media-body">
            <h5 class="mt-0 display-2 title-text">{{translator.name}}</h5>
            <blockquote class="blockquote">
              <p class="mb-0 review-text review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer citation-text">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>
      <!-- <img src="assets/images/translator_pic.jpg" alt="first slide" style="display: block; width: 100%;"> -->
    </slide>
  </carousel>
</div>