
<div class="row">
  <div class="col-12">
    <div class="jumbotron jumbotron-fluid m-0 mb-2">
      <!-- <div class="container"> -->
        <div id="title-parent">
            <h1 class="display-2" id="main-title"><span id="title-span">Tra</span>nslate World</h1>
            <!-- <img src="../assets/images/logo.jpg" id="main-logo"/> -->
        </div>
        <!-- <div id="content-parent"> -->
          <p class="lead content-text">Welcome to a translation page for all the most spoken languages ​​in the world.
          Here you will find the best people who can help you translate documents, articles and more!</p>
          <p class="lead underlined-text">Cheap Prices,</p>
          <p class="lead underlined-text">Excellent Value!</p>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- <div class="container mb-5"> -->
  <app-highlight-language></app-highlight-language>
<!-- </div> -->

<!-- <div class="container"> -->
  <app-review-modal></app-review-modal>
<!-- </div> -->