.jumbotron {
    background: none;
    text-align: center;
}

#title-parent {
    position: relative;
}


/* #main-logo {
    bottom: 80.5px;
    left: 0px;
    width: 5.4rem;
    box-shadow: 2px 0px 3px black;
} */

#main-title {
    position: relative;
    z-index: 1000;
    font-size: 4.2rem;
}

#title-span {
    font-weight: bold;
    color: #e9e4e2;
    text-shadow: 1px 0px 3px gray;
    background: url('../../../assets/images/logo.jpg') center no-repeat;
    background-size: cover;
    /* border: 1px solid gray; */
    background-position: 0 -21.3px; 

}

.underlined-text {
    font-size: 1.7rem;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(224, 224, 224);
}


.content-text {
    font-size: 1.5rem;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .jumbotron {
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../assets/images/jumbotron-photo-4.jpg"); */
    background: none;
    text-align: left;
    /* background-size: cover; */
    /* min-height: 570px; */
    /* box-shadow: 0 0 8px 8px #b5b2ab inset; */
}

/* #title-parent {
    position: relative;
} */

/* #main-title {
    position: relative;
    z-index: 1000;
} */

#title-span {
    font-weight: bold;
    color: #e9e4e2;
    text-shadow: 0px 0px 5px black;
}

#main-logo {
    position: absolute;
    bottom: 16.1px;
    left: 0px;
    width: 130px;
    /* border-bottom-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    /* border-top-right-radius: 20px; */
    /* border-top-left-radius: 20px; */
    box-shadow: 2px 0px 3px black;
}

.underlined-text {
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(224, 224, 224);
}

.content-text {
    font-size: 26px;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }