/* .ad-image {
    width: 100%;
    height: 500px;
} */

.modal-body {
    background-size: cover;
    height: 630px;
    width: 100%;
    /* outline: white solid 5px; */
    
}

.close-button {
    font-size: 50px;
    /* transform: translateY(-20px); */
    opacity: 100%;
}

.ad-content {
    font-size: 1.7rem;
    /* margin-top: 70px; */
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
    padding: 1rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .ad-content {
        font-size: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }