<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close pull-right close-button bg-dark text-light p-2" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">CLOSE AD</span>
        </button>
      <div class="modal-body d-flex justify-content-center align-items-center" [ngStyle]="{'background-image':'url(' + ad.image + ')'}">
        <p class="ad-content lead">{{ad.content}}</p>
      </div>
    </div>
  </div>
</div>
