<!-- <div id="widget" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="widget-collapse"></div> -->
<div id="widget" (click)="onPanelToggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="widget-collapse">
  <img src="assets/images/side_widget.png"/>
</div>
<div id="widget-collapse" [collapse]="isCollapsed">
  
  <div class="well well-lg card card-block card-header" id="collapse-content">
    <div class="content">
      <h5 class="title">Stats:</h5>
      <p class="sub-title">Times visited: <span>{{stats?.times_visited}}</span></p>
      <p class="sub-title">Asked For Tutor: <span>{{requestCount}}</span></p>
      <p class="sub-title">Frequent Tutor: <span class="text-muted">W.I.P</span></p>
      <h5 class="title">Pointed Gained: <span class="text-muted">W.I.P</span></h5>
    </div>
  </div>
</div>