#widget {
    position: fixed;
    left: 97%;
    top: 220px;
    z-index: 10000;  
    
}

#widget:hover {
    cursor: pointer;
    
}

#widget img {
    width: 50px;
    background-color: #212529;
    border-radius: 10px;
    
}

#widget img:hover {
    box-shadow: 1px 2px 2px white;
}

#widget-collapse {
    position: fixed;
    top: 140px; /* 100px */
    left: 77%;
    /* opacity: 85%; */
    z-index: 1000;
    /* Animation */
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 0.3s;
    background: inherit;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#collapse-content {
    height: 215px;
    width: 350px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background: rgba(0,0,0,.4); */
    z-index: 1000;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.5721638997395833) 40%, rgba(178,178,178,0.5105392498796393) 78%);
}

/* .glass {
    height: 215px;
    width: 350px;
    top: 140px;
    left: 77%; 
    background: rgba(180, 180, 180, 0.3);
    filter: blur(2px);
    z-index: -1;
    position: fixed;
  } */


.title {
    text-shadow: 1px 1px 1px white;
}

.sub-title {
    font-size: 16px;
    text-shadow: 1px 1px 1px white;
}
  



/* div {
    position: fixed;
    left: 95%;
    top: 100px;
    background-color: #212529;
    color: white;
    box-shadow: 2px 2px 2px white;
    height: 100px;
    width: 300px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px; 
} */

