#widget {
    position: fixed;
    left: 97%;
    top: 140px;
    z-index: 10000;  
}

#widget:hover {
    cursor: pointer;
    
}

#widget img {
    width: 50px;
    background-color: #212529;
    border-radius: 10px;
    
}

#widget img:hover {
    box-shadow: 1px 2px 2px white;
}

#widget-collapse {
    position: fixed;
    top: 139px; /* 100px */
    left: 77%;
    opacity: 85%;
    z-index: 1000;
}

#collapse-content {
    height: 130px;
    width: 350px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid white;
    
    
}

/* div {
    position: fixed;
    left: 95%;
    top: 100px;
    background-color: #212529;
    color: white;
    box-shadow: 2px 2px 2px white;
    height: 100px;
    width: 300px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px; 
} */

