

/* accordion-group {
    position: relative;
} */

.name {
    text-decoration: underline dashed white;
    color: black;
}

.lang-from {
    position: absolute;
    width: 30px;
    height: 25px;
    box-shadow: 2px 1px 2px white;
    top: 50px;
    right: 200px;
    
}

.arrow-right {
    position: absolute;
    top: 48px;
    right: 180px;
   
}

.lang-to {
    position: absolute;
    width: 30px;
    height: 25px;
    box-shadow: 2px 1px 2px white;
    top: 50px;
    right: 148px;
}


.price {
    color: #6B8E23;
    /* text-shadow: 1px 2px 2px black; */

}


.more-info {
   position: relative;
   /* left: 20px; */
   /* text-shadow: 1px 2px 2px black; */
}

.send-request {
    position: relative;
    left: 20px;
    /* text-shadow: 1px 2px 2px black; */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

:host::ng-deep .page-link { 
    background: #343a40 !important; 
    color: white;
    border: 1px solid white;
    box-shadow: 1px 3px 2px black;
}


:host::ng-deep .page-link:focus { 
    background: white !important; 
    color: black;
    border: 1px solid white;
    box-shadow: 1px 3px 2px black;
}
