<div class="row">
  <div class="col-12 pagination" >
    <pagination class="pagination-menu" [totalItems]="33"></pagination>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
            <div class="row mt-5">
                <accordion-group class="col-md-4 mt-1" *ngFor="let translator of translators" [panelClass]="customClass">
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                        <img src="{{translator.image}}" style="height: 80px; width: 80px; box-shadow: 2px 2px 2px black; border-radius: 20%" class="float-left pull-left" />
                        <h5 class="mt-1 ml-1 name float-left pull-left">{{translator.name}}</h5>
                            <img src="{{translator.lang_from}}" class="lang-from" />
                            <span class="arrow-right"><img src="assets/images/arrow-right.png"  style="height: 15px;"/></span>
                            <img src="{{translator.lang_to}}" class="lang-to" />
                    </button>
                    <p class="description ml-1">{{translator.description}}</p>
                    <p class="price ml-1">{{translator.price}}$</p>
                    <button class="btn btn-outline-light more-info offset-md-9">More</button>
                </accordion-group>
            </div>
        </accordion>
    </div>
</div>






    <!-- <div class="row">
        <div *ngFor="let translator of translators; let i = index">
            <div *ngIf="i % 3 === 0 || i === 0; else elseBlock">
                <div class="col-md-3">
                    <accordion-group [panelClass]="customClass">
                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <img src="{{translator.image}}" style="height: 80px; width: 80px; box-shadow: 2px 2px 2px black; border-radius: 20%" class="float-left pull-left" />
                            <h5 class="pull-left float-left mt-3 ml-2" style="color: black; border-bottom: 2px dashed white;">{{translator.name}}</h5>
                            <img src="{{translator.lang_from}}" class="lang-from" />
                            <span class="arrow-right"><img src="assets/images/arrow-right.png"  style="height: 15px;"/></span>
                            <img src="{{translator.lang_to}}" class="lang-to" />
                        </button>
                        <p class="description">{{translator.description}}</p>
                        <p class="price">{{translator.price}}$</p>
                        <button class="btn btn-outline-light more-info">Info.</button>
                    </accordion-group>
                </div>
            </div>

            <ng-template #elseBlock>
                <div class="col-md-3 offset-md-1">
                    <accordion-group [panelClass]="customClass">
                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <img src="{{translator.image}}" style="height: 80px; width: 80px; box-shadow: 2px 2px 2px black; border-radius: 20%" class="float-left pull-left" />
                            <h5 class="pull-left float-left mt-3 ml-2" style="color: black; border-bottom: 2px dashed white;">{{translator.name}}</h5>
                            <img src="{{translator.lang_from}}" class="lang-from" />
                            <span class="arrow-right"><img src="assets/images/arrow-right.png"  style="height: 15px;"/></span>
                            <img src="{{translator.lang_to}}" class="lang-to" />
                        </button>
                        <p class="description">{{translator.description}}</p>
                        <p class="price">{{translator.price}}$</p>
                        <button class="btn btn-outline-light more-info">Info.</button>
                    </accordion-group>
                </div>
            </ng-template>
        </div>
    </div> -->