<accordion [isAnimated]="true" [closeOthers]="oneAtATime">
    <div class="row">
        <div *ngFor="let translator of translators; let i = index">
            <div *ngIf="i % 3 === 0 || i === 0; else elseBlock">
                <div class="col-md-3">
                    <accordion-group [panelClass]="customClass">
                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <img src="{{translator.image}}" style="height: 80px; width: 80px; box-shadow: 2px 2px 2px black; border-radius: 20%" class="float-left pull-left" />
                        </button>
                        This is just some content to illustrate fancy headings.
                    </accordion-group>
                </div>
            </div>

            <ng-template #elseBlock>
                <div class="col-md-3 offset-md-1">
                    <accordion-group [panelClass]="customClass">
                        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                            <img src="{{translator.image}}" style="height: 80px; width: 80px; box-shadow: 2px 2px 2px black; border-radius: 20%" class="float-left pull-left" />
                        </button>
                        This is just some content to illustrate fancy headings.
                    </accordion-group>
                </div>
            </ng-template>
        </div>
    </div>
</accordion>